
body
{
	
	background-color:black;
}

#container
{
height:100%;
width:100%;
}

#latbar
{
Height:100%;
width:15%;
Font-size: 125%;
font-family: calibri;
text-align: center;
line-height: 2em;
font-weight:100;
margin-left:auto;
margin-right:auto;
margin-top:10%;
}



.menu
{

padding-left:0%;
opacity:0;
transition:1s;
}

#latbar:hover ul
{
	opacity:1;
	transition:1s;
	
}

#latbar:hover img
{
	transition:1s;
	filter:blur(0.125em);
}

.sousmenu li
{
	max-height:0em;
	overflow:hidden;
	transition: 1s;

	
}
.sousmenu:hover li
{
	max-height:10em;
	transition: 1s;
	
}


ul
{
	list-style-type:none;
}


a
{
	text-decoration:none;
	opacity:1;
	transition:1s;
	color:white;
}



 a:hover
{
	text-decoration:none;
 	Transition:1s;
	opacity: 1;
	text-shadow: white 0 0 0.25em, white 0 0 0.25em;

	
}


.logo
	
	{
	position:relative;
		width:50%;
		height:auto;
opacity:1;
transition:1s;	


	}
	
	.logo:hover
	{
			Transition:1s;
	opacity: 1;
	
	}
	

/*----------------------------------------------design-adaptatif*-----------------------------*/

@media screen and (max-width:900px),(orientation:portrait)
{
	
	.logo
	
	{
	position:relative;
		width:20%;
		height:auto;
opacity:1;
transition:1s;	

	}
	

#container
{
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-columns: 100% ;
	
}
	
	#latbar
{
	grid-column: 1/1;
	grid-row: 1;
Height:100%;
width:75%;
Font-size: 125%;
font-family: calibri;
text-align: center;
line-height: 2em;
font-weight:100;
margin-left:auto;
margin-right:auto;



}


.menu
{
	position:relative;
	opacity:1;
	
}
}

