
#container
{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-columns: 25% 75% ;
	position:relative;
	margin-top: 5%;

}

#latbar
{
	grid-column: 1/2;
	grid-row: 1;
Height:100%;
width:100%;
Font-size: 125%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;


}

.menu
{
	position:fixed;
	margin-left:6%;
	margin-top:20%;

}

.sousmenu li
{
	max-height:0em;
	overflow:hidden;
	transition: 1s;
	
}
.sousmenu:hover li
{
	max-height:10em;
	transition: 1s;
	
}

.copyright
{
	Font-size: 60%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;
position:fixed;
margin-top:43.5%;
margin-left:0%;
}

ul{
	list-style-type:none;
}

#contact
{
	grid-column: 2/2;
	grid-row: 1;
Height:100%;
width:100%;
Font-size: 200%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;
text-align:center;
border-radius:8px;
Color:black;
opacity:1;
transition:1s;
}

#contactgrid:hover a
{
	Transition:1s;
	opacity: 1;
	text-shadow: 0 0 0.25em;
	color:#a4b3f9;
	
}

#contactgrid:hover .logoig
{
filter:drop-shadow(0 0 0.25em #a4b3f9) drop-shadow(0 0 0.25em #a4b3f9);
transition:1s;
}

a
{
	text-decoration:none;
	color:black;
	opacity:1;
	transition:1s;
	
	
}

#contactgrid a
{
	color:black;
}

a:hover
{
	text-decoration:none;
	opacity:0.3;
	transition:1s;
}
	
	.logo
	
	{
		
	position:fixed;
		width:7.5%;
		height:auto;
opacity:1;
transition:1s;
left:9%;
	}
	
	.logo:hover
	{
		opacity:0.3;
		transition:1s;
	}
	
.profilpic
{
	grid-column: 1/2;
	grid-row: 1;
Height:auto;
width:100%;
border-radius:8px;
}
	
#contactgrid
{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-columns: 50% 50% ;
	width:70%;
	grid-gap:5%;
	
}

.logoig
{
	margin-top:7.5%;
	width:7.5%;
	height:auto;
	transition:1s;
}


/*----------------------------------------------design-adaptatif*-----------------------------*/

@media screen and (max-width:900px),(orientation:portrait)
{
	
	.logo
	
	{
	position:relative;
		width:20%;
		height:auto;
opacity:1;
transition:1s;
left:0%;
margin-right:auto;
margin-left:auto;

	}
	

#container
{
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-columns: 100% ;
}
	
	#latbar
{
	grid-column: 1/1;
	grid-row: 1;
Height:100%;
width:75%;
Font-size: 125%;
font-family: calibri;
text-align: center;
line-height: 2em;
font-weight:100;
margin-left:auto;
margin-right:auto;


}

.menu
{
	position:relative;
	padding-left:0%;
	text-align:center;
	margin-top:0%;
	margin-left:0%;
	
	
}


#contactgrid
{
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	width:70%;
	grid-gap:5%;
	margin-right:auto;
margin-left:auto;
	
}
	
	#contact
{
	grid-column: 1/1;
	grid-row: 2;
margin-right:auto;
margin-left:auto;
Height:100%;
width:100%;
Font-size: 200%;
font-family: calibri;
line-height: 2em;
font-weight:100;
text-align:center;
border-radius:8px;
Color:black;
opacity:1;
transition:1s;
}

.profilpic
{
	grid-column: 1/;
	grid-row: 1;
Height:auto;
width:100%;
border-radius:8px;
text-align:center;

}

#contact a

{
	
	text-shadow: 0 0 0.25em;
	color:#a4b3f9;
}

.logoig
{
filter:drop-shadow(0 0 0.25em #a4b3f9) drop-shadow(0 0 0.25em #a4b3f9);
transition:1s;
}


}
