
#container
{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-columns: 25% 75% ;
	position:relative;
	margin-top: 5%;

}

#latbar
{
	grid-column: 1/2;
	grid-row: 1;
Height:100%;
width:100%;
Font-size: 125%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;


}

.menu
{
	position:fixed;
	margin-left:6%;
	margin-top:20%;

}

.sousmenu li
{
	max-height:0em;
	overflow:hidden;
	transition: 1s;
	
}
.sousmenu:hover li
{
	max-height:10em;
	transition: 1s;
	
}


.copyright
{
	Font-size: 60%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;
position:fixed;
margin-top:43%;
margin-left:0%;
}

ul{
	list-style-type:none;
}

#picgrid
{
	grid-column: 2/2;
	grid-row: 1;
	display: grid;
	column-gap:5%;
	grid-column-gap:auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows:auto;
	width:70%;
height:auto;
	
}

.im1
{
width:100%;
height: auto;	
grid-column: 1/2;
grid-row: 1;
border-radius:8px;


}

.im2
{
width: 100%;
height: auto;
grid-column: 2/2;
grid-row: 1;	
border-radius:8px;

}

.im3
{
width: 100%;
height: auto;
grid-column: 1/2;
grid-row: 2;
border-radius:8px;
	
}

.im4
{
width: 100%;
height: auto;
grid-column: 2/2;
grid-row: 2;	
border-radius:8px;

}

.im5
{
width: 100%;
height: auto;
grid-column: 1/2;
grid-row: 3;	
border-radius:8px;

}

.im6
{
width: 100%;
height: auto;
grid-column: 2/2;
grid-row: 3;	
border-radius:8px;

}
.im7
{
width: 100%;
height: auto;
grid-column: 1/2;
grid-row: 4;	
border-radius:8px;

}
.im8
{
width: 100%;
height: auto;
grid-column: 2/2;
grid-row: 4;	
border-radius:8px;

}
.im9
{
width: 100%;
height: auto;
grid-column: 1/2;
grid-row: 5;
border-radius:8px;

}


ul.im1
{
grid-column: 1/2;
grid-row: 1;
font-family:calibri;
margin-top:140%;
font-weight:100;	
font-size:0.9em;
color:grey;

}

ul.im2
{

grid-column: 2/2;
grid-row: 1;	
border-radius:8px;
font-family:calibri;
margin-top:140%;
font-weight:100;	
font-size:0.9em;
color:grey;
}

ul.im3
{

grid-column: 1/2;
grid-row: 2;
font-family:calibri;
margin-top:145%;
font-weight:100;	
font-size:0.9em;
color:grey;
	
}

ul.im4
{

grid-column: 2/2;
grid-row: 2;	
font-family:calibri;
margin-top:145%;
font-weight:100;	
font-size:0.9em;
color:grey;

}

ul.im5
{

grid-column: 1/2;
grid-row: 3;	
font-family:calibri;
margin-top:147%;
font-weight:100;	
font-size:0.9em;
color:grey;

}

ul.im6
{

grid-column: 2/2;
grid-row: 3;	
font-family:calibri;
margin-top:150%;
font-weight:100;	
font-size:0.9em;
color:grey;

}
ul.im7
{

grid-column: 1/2;
grid-row: 4;	
font-family:calibri;
margin-top:145%;
font-weight:100;	
font-size:0.9em;
color:grey;

}
ul.im8
{

grid-column: 2/2;
grid-row: 4;	
font-family:calibri;
margin-top:145%;
font-weight:100;	
font-size:0.9em;
color:grey;

}
ul.im9
{

grid-column: 1/2;
grid-row: 5;
font-family:calibri;
margin-top:165%;
font-weight:100;	
font-size:0.9em;
color:grey;

}

a
{
	text-decoration:none;
	opacity:1;
	transition:1s;
	color:black;
}



 a:hover
{
	text-decoration:none;
    opacity:0.3;
	transition:1s;
	
	
}


.logo
	
	{
	position:fixed;
		width:7.5%;
		height:auto;
opacity:1;
transition:1s;
	left:9%;	
	}
	
	.logo:hover
	{
		opacity:0.3;
		transition:1s;
		
	}

/*----------------------------------------------design-adaptatif*-----------------------------*/

@media screen and (max-width:900px),(orientation:portrait)
{
	#picgrid
{
	grid-column: 1/1;
	grid-row: 2;
	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(1,1fr);
	width:75%.logo
	
	{
		position:relative;
		width:40%;
		height:auto;
		margin-left:33%;
opacity:1;
transition:1s;
	}
	
	.logo:hover
	{
		opacity:0.3;
		transition:1s;
	};
	margin: auto;
	
}

#container
{
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-columns: 100% ;
}
	
	#latbar
{
	grid-column: 1/1;
	grid-row: 1;
Height:100%;
width:100%;
Font-size: 125%;
font-family: calibri;
text-align: left;
line-height: 2em;
font-weight:100;
	margin-left:auto;


}

.un
{
width:100%;
height: auto;	
grid-column: 1/2;
grid-row: 1;
}

.deux
{
width: 100%;
height: auto;
grid-column: 1/1;
grid-row: 2;	
}

.trois
{
width: 100%;
height: auto;
grid-column: 1/1;
grid-row: 3;	
}

.quatre
{
width: 100%;
height: auto;
grid-column: 1/1;
grid-row: 4;	
}

.menu
{
	position:relative;
	
}
}
